<!DOCTYPE html>
<html>
<head>  
  <style>

table {
    border-collapse: collapse;
    border-spacing: 5px;
    width: 65%;
    border: black 1px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
    }

  tr td:nth-child(1) {
    width: 10%;
  }
  
  tr td:nth-child(2) {
    width: 10%;
  }
  
  tr td:nth-child(3) {
    width: 25%;
  }
  
  tr td:nth-child(4) {
    width: 25%;
  }
  
  tr td:nth-child(5) {
    width: 12%;
  }

  tr td:nth-child(6) {
    width: 10%;
  }

  tr td:nth-child(7) {
    width: 10%;
  }

  tr th:nth-child(1) {
    width: 10%;
  }
  
  tr th:nth-child(2) {
    width: 10%;
  }
  
  tr th:nth-child(3) {
    width: 25%;
  }
  
  tr th:nth-child(4) {
    width: 25%;
  }
  
  tr th:nth-child(5) {
    width: 12%;
  }

  tr th:nth-child(6) {
    width: 10%;
  }

  tr th:nth-child(7) {
    width: 10%;
  }


  .collapsible {
    background-color: rgb(181, 201, 247);
    color:rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    font-size: .9em;
    width: 65%;
    height: 40px;
    outline: none;
    border: none;
    position: relative;
    font-weight: bold;
  }

  .collapsible::after {
    content: "\25BE";
    font-size: 2rem;
    position:absolute;
    right:1rem;
    bottom:10%;
    transition: transform 0.2s ease-in-out;

  }

  .collapsible.active::after {
    /* content: "\2212"; */
    transform: rotate(180deg);
  }

  .accordian-item-body-content {
    border-top: 1px solid black;
    border-image: linear-gradient(to right, transparent, black, transparent) 1;
  }

  .active, .collapsible:hover {
  background-color: rgb(101, 128, 193);
  }

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  
  .cat {
    height: 12px;
    background-color: rgb(181, 201, 247);
    text-align: left;
    color:rgb(0, 0, 0);
    font-size: .9em;
  }

  .head {
    background-color:rgb(16, 16, 172);
    color:cornsilk;
    text-align: left;
    height: 40px;
  }
    
  .qty {
      width: 75px;
      padding: 8px;
      border: 0;
      background-color: #f1f1f1;;
    }

    td {
      font-size: .75em;
    }

    /* Checkbox Styling: */

    .pricing_options {
      width: 55%;
    }

    .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.7em;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

.section {
  width: 23%;
  padding: 15px;
  border: 1px black solid;
  height: 75px;
  display: inline-flex;
  justify-content: left;
  align-items: center; 
  margin: 25px;
  background-color:  rgb(181, 201, 247);
  border-radius: 6px;
  border: 2px grey solid;

}

  .pricing_options h2 {
    display: flex;
    justify-content: center;
  }

  .xx {
    width: 65%;
    display: flex;
    justify-content: center;
  }

  .service_options {
    width: 55%;
  }

  .service_options h2 {
    display: flex;
    justify-content: center;
  }

  .service_terms {
    background-color:rgb(16, 16, 172);
    color:cornsilk;
    height: 35px;
    width: 65%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .service_terms h3 {
    padding:35px;
  }

  .input1 {
    width: 50px;
  }

  .input2 {
    width: 80px;
  }

  .submit_btn {
    width: 85px;
    height: 25px;
    background-color:rgb(16, 16, 172);
    color:cornsilk;
    border: 1px black solid;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
  }

  .links {
    display: inline-flex;
    align-items: center;
    width: auto;
    margin-left: 45px;
  }

  .link {
    margin: 20px;
    font-size: 1.3em;
  }

  .dash {
    font-size: 1.8em;
  }

    </style>
</head>
<body>

  <div class="links">
    <a href="/proposals"><h3 class="link">Proposals</h3></a>
    <h3 class="dash">=></h3>
    <a href="/proposals/<%= @proposal.id %>"><h3 class="link"><%= @proposal.id %></h3></a>
  </div>

  <form action="/proposals/<%= @proposal.id %>/edit" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    
    <div class="pricing_options">
      <h2>Proposal Pricing Options:</h2>
      <% PricingOption.all.each do |option| %>
      
        <% if @proposal.proposal_pricing_options.find_by(pricing_option_id: option.id) == nil %>
          <div class="section">
            <label class="container"><%= option.name %>
              <input type="checkbox" name="create_proposal_pricing_options[pricing_option_ids][]" id="<%= option.id %>" value="<%= option.id %>" >
              <span class="checkmark"></span>
            </label>
          </div>
        <% else %>
          <div class="section">
            <label class="container"><%= option.name %>
              <input type="checkbox" name="create_proposal_pricing_options[pricing_option_ids][]" id="<%= option.id %>" value="<%= option.id %>" checked >
              <span class="checkmark"></span>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <label>Show summary page on preview:
        <% if @proposal.show_summary == "on" %>
          <input type="checkbox" name="show_summary" checked >
        <% else %>
          <input type="checkbox" name="show_summary">
        <% end %>
      </label> 
    </div>

    <div class="xx">
      <h2>Equipment and Accessories:</h2>
    </div>

      <!-- Loop through all proposal line items that are engines-->
      <% @proposal.line_items.where(product_id: Product.all.where(category: "Engine")).each do |line_item| %>
      
    <button type="button" class="collapsible"><%=Product.find(line_item.product_id).name %></button>
    <!-- For this engine instance, loop through all the categories-->
    <div class="content">
      
      <div class="service_terms">
        <label>Remove Unit:<input type="checkbox" name="remove_item[<%= Product.find(line_item.product_id).km_equipment %>"></label>
        <h3>Rates locked for x years: <input class="input1" type="number" value="<%= line_item.service_lock_years %>" name="lock[<%= line_item.id %>]" id="<%= line_item.service_lock_years %>"></h3>
        <h3>One impression up to: <input class="input2" type="text" value="<%= line_item.one_click_maximum %>" name="one_click[<%= line_item.id %>]" id="<%= line_item.one_click_maximum %>"></h3>
      </div>
      <table class="main">
        <thead>
          <tr class="head">
            <th>Quantity</th>
            <th>Product id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Color Click</th>
            <th>Mono Click</th>
          </tr>
        </thead>
        <% @categories.each do |cat| %>
        
        <% if cat == "Engine" %>
          <% true %>
        <% else %>
          <tr>
            <td class="cat" colspan="7"><%= cat %></td>
          </tr>
            <% end %>

            <% Product.all.where(km_equipment: Product.find(line_item.product_id).km_equipment, category: cat).each do |drop| %>
            
            <% if !!@proposal.line_items.find_by(product_id: drop.id) && cat == "Engine" %>
              <% item_qty = @proposal.line_items.find_by(product_id: drop.id).quantity %>

              <% li_color = line_item.color_cpi %>
              <% li_mono = line_item.mono_cpi %>
              <tr>
                <td><input class="qty" type="number" value="<%= item_qty %>" name="line_item[<%= drop.id %>]" id="<%= item_qty %>"></td>
                <td><%= drop.km_product_id %></td>
                <td><%= drop.name %></td>
                <td><%= drop.description %></td>
                <td><%= drop.price %></td>
                <td><input class="qty" type="string" value="<%= line_item.color_cpi if !!line_item.color_cpi %>" name="clicks[<%= line_item.id %>][]" id="<%= line_item.color_cpi %>"></td>
                <td><input class="qty" type="string" value="<%= line_item.mono_cpi if !!line_item.mono_cpi %>" name="clicks[<%= line_item.id %>][]" id="<%= line_item.mono_cpi %>"></td>
              </tr>
            <% elsif !!@proposal.line_items.find_by(product_id: drop.id) %>
              <% item_qty = @proposal.line_items.find_by(product_id: drop.id).quantity %>
              <tr>
                <td><input class="qty" type="number" value="<%= item_qty %>" name="line_item[<%= drop.id %>]" id="<%= item_qty %>"></td>
                <td><%= drop.km_product_id %></td>
                <td><%= drop.name %></td>
                <td><%= drop.description %></td>
                <td><%= drop.price %></td>
                <tr>
              </tr>
            <% else %>
              <tr>
                <td><input class="qty" type="number" name="line_item[<%= drop.id %>]" id="<%= item_qty %>qq"></td>
                <td><%= drop.km_product_id %></td>
                <td><%= drop.name %></td>
                <td><%= drop.description %></td>
                <td><%= drop.price %></td>
              </tr>
            <% end %> 
          <% end %>
        <% end %>
      </table>
    </div>
            <% end %>

      <input class="submit_btn" type="submit">

  <script>
    const collapsibles = document.querySelectorAll(".collapsible");

    collapsibles.forEach(collapsible => {
      collapsible.addEventListener("click", event => {
        collapsible.classList.toggle("active");
        const content = collapsible.nextElementSibling;
        if(collapsible.classList.contains("active")) {
          content.style.maxHeight = content.scrollHeight + "px";
        }
        else {
          content.style.maxHeight = 0;
        }
      });
    });

  </script>

  const num_divs = document.querySelectorAll(".")

</body>
</form>
</html>





      <!-- <table class="main">
        <thead>
          <tr class="head">
            <th>Quantity</th>
            <th>Product id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
          </tr>
        
            <% @proposal.line_items.where(product_id: Product.all.where(category: "Engine")).each do |line_item| %>
    
              <% @categories.each do |cat| %>
            
                <tr>
                  <td class="cat" colspan="5"><%= cat %></td>
                </tr>
                <% Product.all.where(km_equipment: Product.find(line_item.product_id).km_equipment, category: cat).each do |a| %>
                <% q = @proposal.line_items.find_by(product_id: a.id) %>
                  <tr>
                      <td><input class="qty" type="number" value="1" name="<%= a.id %>"></td>
                      <td><%= a.km_product_id %></td>
                      <td><%= a.name %></td>
                      <td><%= a.description %></td>
                      <td><%= a.price %></td>
                  </tr>
                <% end %> 
              <% end %>s
            <% end %> 
        </thead>
      </table> -->
    