<!DOCTYPE html>
<html>
<head>  
  <style>

table {
    border-collapse: collapse;
    border-spacing: 5px;
    width: 65%;
    border: black 1px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    }

  tr td:nth-child(1) {
    width: 10%;
  }
  
  tr td:nth-child(2) {
    width: 10%;
  }
  
  tr td:nth-child(3) {
    width: 25%;
  }
  
  tr td:nth-child(4) {
    width: 25%;
  }
  
  tr td:nth-child(5) {
    width: 12%;
  }

  tr td:nth-child(6) {
    width: 10%;
  }

  tr td:nth-child(7) {
    width: 10%;
  }

  tr th:nth-child(1) {
    width: 10%;
  }
  
  tr th:nth-child(2) {
    width: 10%;
  }
  
  tr th:nth-child(3) {
    width: 25%;
  }
  
  tr th:nth-child(4) {
    width: 25%;
  }
  
  tr th:nth-child(5) {
    width: 12%;
  }

  tr th:nth-child(6) {
    width: 10%;
  }

  tr th:nth-child(6) {
    width: 10%;
  }


  .collapsible {
    background-color: rgb(181, 201, 247);
    color:rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    font-size: .9em;
    width: 65%;
    height: 40px;
    outline: none;
    border: none;
    position: relative;
    font-weight: bold;
  }

  .collapsible::after {
    content: "\25BE";
    font-size: 2rem;
    position:absolute;
    right:1rem;
    bottom:10%;
    transition: transform 0.2s ease-in-out;

  }

  .collapsible.active::after {
    /* content: "\2212"; */
    transform: rotate(180deg);
  }

  .accordian-item-body-content {
    border-top: 1px solid black;
    border-image: linear-gradient(to right, transparent, black, transparent) 1;
  }

  .active, .collapsible:hover {
  background-color: #555;
  }

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
  
  .cat {
    height: 12px;
    background-color: rgb(181, 201, 247);
    text-align: left;
    color:rgb(0, 0, 0);
    font-size: .9em;
  }

  .head {
    background-color:rgb(16, 16, 172);
    color:cornsilk;
    text-align: left;
    height: 40px;
  }
    
  .qty {
      width: 75px;
      padding: 8px;
      border: 0;
      background-color: #f1f1f1;;
    }

    td {
      font-size: .75em;
    }

    /* Checkbox Styling: */

    .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section {
  width: 10%;
  padding: 15px;
}
    </style>
</head>
<body>

<h1>Feel free to change the quantity for any line items, or add new ones:</h1>

<form action="/proposals/<%= @proposal.id %>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h2>Proposal Pricing Options:</h2>

    <% PricingOption.all.each do |option| %>

      <% if @proposal.proposal_pricing_options.find_by(pricing_option_id: option.id) == nil %>
        <div class="section">
          <label class="container"><%= option.name %>
            <input type="checkbox" name="create_proposal_pricing_options[pricing_option_ids][]" id="<%= option.id %>" value="<%= option.id %>" >
            <span class="checkmark"></span>
          </label>
        </div>
      <% else %>
        <div class="section">
          <label class="container"><%= option.name %>
            <input type="checkbox" name="create_proposal_pricing_options[pricing_option_ids][]" id="<%= option.id %>" value="<%= option.id %>" checked >
            <span class="checkmark"></span>
          </label>
        </div>
      <% end %>
    <% end %>
  <h2>Equipment and Accessories:</h2>
  <!-- Loop through all proposal line items that are engines-->
  <% @proposal.line_items.where(product_id: Product.all.where(category: "Engine")).each do |line_item| %>
  
  <button type="button" class="collapsible"><%=Product.find(line_item.product_id).name %></button>
  <!-- For this engine instance, loop through all the categories-->
  <div class="content">
      <table class="main">
        <thead>
          <tr class="head">
            <th>Quantity</th>
            <th>Product id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Color Click</th>
            <th>Mono Click</th>
          </tr>
        </thead>
      <% @categories.each do |cat| %>
      
      <% if cat == "Engine" %>
        <% true %>
      <% else %>
        <tr>
          <td class="cat" colspan="7"><%= cat %></td>
        </tr>
          <% end %>

          <% Product.all.where(km_equipment: Product.find(line_item.product_id).km_equipment, category: cat).each do |drop| %>
          
          <% if !!@proposal.line_items.find_by(product_id: drop.id) && cat == "Engine" %>
            <% item_qty = @proposal.line_items.find_by(product_id: drop.id).quantity %>

            <% li_color = line_item.color_cpi %>
            <% li_mono = line_item.mono_cpi %>
            <tr>
              <td><input class="qty" type="number" value="<%= item_qty %>" name="line_item[<%= drop.id %>]" id="<%= item_qty %>"></td>
              <td><%= drop.km_product_id %></td>
              <td><%= drop.name %></td>
              <td><%= drop.description %></td>
              <td><%= drop.price %></td>
              <td><input class="qty" type="string" value="<%= li_color if !!li_color %>" name="clicks[<%= line_item.id %>][]" id="<%= li_color %>"></td>
              <td><input class="qty" type="string" value="<%= li_color if !!li_color %>" name="clicks[<%= line_item.id %>][]" id="<%= li_color %>"></td>
            </tr>
          <% elsif !!@proposal.line_items.find_by(product_id: drop.id) %>
            <% item_qty = @proposal.line_items.find_by(product_id: drop.id).quantity %>
            <tr>
              <td><input class="qty" type="number" value="<%= item_qty %>" name="line_item[<%= drop.id %>]" id="<%= item_qty %>"></td>
              <td><%= drop.km_product_id %></td>
              <td><%= drop.name %></td>
              <td><%= drop.description %></td>
              <td><%= drop.price %></td>
              <tr>
            </tr>
          <% else %>
            <tr>
              <td><input class="qty" type="number" name="line_item[<%= drop.id %>]" id="<%= item_qty %>qq"></td>
              <td><%= drop.km_product_id %></td>
              <td><%= drop.name %></td>
              <td><%= drop.description %></td>
              <td><%= drop.price %></td>
            </tr>
          <% end %> 
        <% end %>
      <% end %>
    </table>
  </div>
          <% end %>
  <input type="submit">

  <script>
    const collapsibles = document.querySelectorAll(".collapsible");

    collapsibles.forEach(collapsible => {
      collapsible.addEventListener("click", event => {
        collapsible.classList.toggle("active");
        const content = collapsible.nextElementSibling;
        if(collapsible.classList.contains("active")) {
          content.style.maxHeight = content.scrollHeight + "px";
        }
        else {
          content.style.maxHeight = 0;
        }
      });
    });

  </script>

</body>
</form>
</html>





      <!-- <table class="main">
        <thead>
          <tr class="head">
            <th>Quantity</th>
            <th>Product id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
          </tr>
        
            <% @proposal.line_items.where(product_id: Product.all.where(category: "Engine")).each do |line_item| %>
    
              <% @categories.each do |cat| %>
            
                <tr>
                  <td class="cat" colspan="5"><%= cat %></td>
                </tr>
                <% Product.all.where(km_equipment: Product.find(line_item.product_id).km_equipment, category: cat).each do |a| %>
                <% q = @proposal.line_items.find_by(product_id: a.id) %>
                  <tr>
                      <td><input class="qty" type="number" value="1" name="<%= a.id %>"></td>
                      <td><%= a.km_product_id %></td>
                      <td><%= a.name %></td>
                      <td><%= a.description %></td>
                      <td><%= a.price %></td>
                  </tr>
                <% end %> 
              <% end %>s
            <% end %> 
        </thead>
      </table> -->
    